In [1]:
'''Practical No.7: Write a Pandas program to implement
following operation:

Name: Tank Yash
Eno: 216270307073
'''

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
'''Practical No.7: Write a Pandas program to implement
following operation:
• to create a dataframe from a dictionary and
display it

Name: Tank Yash
Eno: 216270307073
'''

dic = {'Name':['ABC','XYZ','PQR'],'Roll_No':[1,2,3]}
print("Dictionary: \n",dic)

df = pd.DataFrame(dic)
print("Dataframe: \n",df)

Dictionary:
 {'Name': ['ABC', 'XYZ', 'PQR'], 'Roll_No': [1, 2, 3]}
Dataframe:
   Name  Roll_No
0  ABC        1
1  XYZ        2
2  PQR        3

In [3]:
'''Practical No.7: Write a Pandas program to implement
following operation:
• to sort the DataFrame first by 'name' in
ascending order

Name: Tank Yash
Eno: 216270307073
'''

df = pd.DataFrame({'Name': ['Yash','Ghanshyam','Harsh'], 'Roll_No': [1,2,3,]})
print("Dataframe is:\n", df)


df_new = df.sort_values(by=['Name'],ascending=True)
print("\nAfter sort ascending Order: \n",df_new)

Dataframe is:
         Name  Roll_No
0       Yash        1
1  Ghanshyam        2
2      Harsh        3

After sort ascending Order:
         Name  Roll_No
1  Ghanshyam        2
2      Harsh        3
0       Yash        1

In [4]:
'''Practical No.7: Write a Pandas program to implement
following operation:
• to delete the one specific column from the
DataFrame

Name: Tank Yash
Eno: 216270307073
'''

df = pd.DataFrame({'Name': ['Yash','Ghanshyam','Harsh'], 'Roll_No': [1,2,3,]})
print("Original Dataframe is:\n", df)

del df['Roll_No']
print("\nAfter Delete column:\n",df)

Original Dataframe is:
         Name  Roll_No
0       Yash        1
1  Ghanshyam        2
2      Harsh        3

After Delete column:
         Name
0       Yash
1  Ghanshyam
2      Harsh

In [5]:
'''Practical No.7: Write a Pandas program to implement
following operation:
• to write a DataFrame to CSV file using tab
separator

Name: Tank Yash
Eno: 216270307073
'''

df = pd.DataFrame({'Name': ['Yash','Ghanshyam','Harsh'], 'Roll_No': [1,2,3,]})
df.to_csv('/kaggle/working/dataset.csv', index=False, sep="\t")

df = pd.read_csv('/kaggle/working/dataset.csv')
print(df)

  Name\tRoll_No
0       Yash\t1
1  Ghanshyam\t2
2      Harsh\t3