In [1]:
'''Practical No.6: Write a Pandas program to implement following operation:

Name: Tank Yash
Eno: 216270307073
'''

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
'''Practical No.6: Write a Pandas program to implement following operation:
• to convert a NumPy array to a Pandas series

Name: Tank Yash
Eno: 216270307073
'''

a = np.array([1,2,3,4])
print("Original Array:\n",a)

s = pd.Series(a)
print("Array After convert Pandas Series:\n",s)

Original Array:
 [1 2 3 4]
Array After convert Pandas Series:
 0    1
1    2
2    3
3    4
dtype: int64

In [3]:
'''Practical No.6: Write a Pandas program to implement following operation:
• to convert the first column of a DataFrame as a Series

Name: Tank Yash
Eno: 216270307073
'''

df = pd.DataFrame({'Name': ['abc','xyz','pqr'], 'Roll_No': [1,2,3,]})
print("Dataframe is:\n", df)

fc = df['Name']
print("\nAfter conver first column into pandas series:\n",pd.Series(fc))

Dataframe is:
   Name  Roll_No
0  abc        1
1  xyz        2
2  pqr        3

After conver first column into pandas series:
 0    abc
1    xyz
2    pqr
Name: Name, dtype: object

In [4]:
'''Practical No.6: Write a Pandas program to implement following operation:
• to create the mean and standard deviation of the data of a given Series

Name: Tank Yash
Eno: 216270307073
'''

s = pd.Series([1,2,3,4,5])
print("Pandas Series:\n",s)

mean = s.mean()
print("\nMean is:\n",mean)

std_dev = s.std()
print("\nStandard Deviation is:\n",std_dev)

Pandas Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

Mean is:
 3.0

Standard Deviation is:
 1.5811388300841898

In [5]:
'''Practical No.6: Write a Pandas program to implement following operation:
• to sort a given Series

Name: Tank Yash
Eno: 216270307073
'''

s = pd.Series([3,4,2,6,9,1])
print("Original Series:\n",s)

sort = s.sort_values()
print("\nAfter sort series is:\n",sort)

Original Series:
 0    3
1    4
2    2
3    6
4    9
5    1
dtype: int64

After sort series is:
 5    1
2    2
0    3
1    4
3    6
4    9
dtype: int64