In [ ]:
'''Practical No.6: Write a Pandas program to implement following operation:

Name: Tank Yash
Eno: 216270307073
'''

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
'''Practical No.6: Write a Pandas program to implement following operation:
• to convert a NumPy array to a Pandas series

Name: Tank Yash
Eno: 216270307073
'''

a = np.array([1,2,3,4])
print("Original Array:\n",a)

s = pd.Series(a)
print("Array After convert Pandas Series:\n",s)

In [ ]:
'''Practical No.6: Write a Pandas program to implement following operation:
• to convert the first column of a DataFrame as a Series

Name: Tank Yash
Eno: 216270307073
'''

df = pd.DataFrame({'Name': ['abc','xyz','pqr'], 'Roll_No': [1,2,3,]})
print("Dataframe is:\n", df)

fc = df['Name']
print("After conver first column into pandas series:\n",pd.Series(fc))

In [ ]:
'''Practical No.6: Write a Pandas program to implement following operation:
• to create the mean and standard deviation of the data of a given Series

Name: Tank Yash
Eno: 216270307073
'''